n8n/workflows/02-attendance-magic-link.json
{
  "name": "WaliKelas Pro - Attendance Magic Link Sender",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "attendance-magic-link",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "walas-attendance"
    },
    {
      "parameters": {
        "url": "={{ $env.WALAS_API_URL }}/api/attendance/sessions",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.WALAS_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "class_id",
              "value": "={{ $json.body.class_id }}"
            },
            {
              "name": "date",
              "value": "={{ $json.body.date }}"
            }
          ]
        },
        "options": {}
      },
      "id": "create-session",
      "name": "Create Attendance Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "magic_link",
              "value": "={{ $json.data.magic_link }}"
            },
            {
              "name": "pin",
              "value": "={{ $json.data.pin }}"
            },
            {
              "name": "expires_at",
              "value": "={{ $json.data.expires_at }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.body.phone }}"
            },
            {
              "name": "recipient_name",
              "value": "={{ $json.body.recipient_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "=https://mu.fonnte.com/api/send",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $env.FONNTE_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "target",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "message",
              "value": "=🔗 *LINK ABSENSI*\n\nSilakan isi absensi harian melalui tautan berikut:\n\n{{ $json.magic_link }}\n\nPIN: *{{ $json.pin }}*\n\n⏰ Batas waktu: {{ $json.expires_at }}\n_Dont share this link!_"
            }
          ]
        },
        "options": {}
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "send-status",
              "leftValue": "={{ $('Send WhatsApp').item.json.success }}",
              "rightValue": true,
              "operation": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "success": true,
          "message": "Magic link sent successfully",
          "data": {
            "magic_link": "={{ $('Extract Data').item.json.magic_link }}",
            "pin": "={{ $('Extract Data').item.json.pin }}",
            "phone": "={{ $('Extract Data').item.json.phone }}"
          }
        }
      },
      "id": "success-response",
      "name": "Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "success": false,
          "error": "Failed to send WhatsApp"
        }
      },
      "id": "error-response",
      "name": "Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Create Attendance Session", "type": "main", "index": 0 }]]
    },
    "Create Attendance Session": {
      "main": [[{ "node": "Extract Data", "type": "main", "index": 0 }]]
    },
    "Extract Data": {
      "main": [[{ "node": "Send WhatsApp", "type": "main", "index": 0 }]]
    },
    "Send WhatsApp": {
      "main": [[{ "node": "Check Success", "type": "main", "index": 0 }]]
    },
    "Check Success": {
      "main": [
        [{ "node": "Success", "type": "main", "index": 0 }],
        [{ "node": "Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["attendance", "walas-pro"],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
